/* 마우스이펙트 */
.menu-modal {
  cursor: none;
}
.menu-modal *{
  cursor: none;
}

.cursor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 9999;
  background-color: rgba(65, 162, 173, 0.7);
  user-select: none;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.2s;
}

.cursorfollow{
  position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 9999;
    background-color: rgba(21, 198, 218, 0.3);
    user-select: none;
    pointer-events: none;
    transition: transform 0.3s, opacity 0.2s;
}
.cursor.style1 {
  background-color: rgba(196, 86, 22, 0.9);
    border-color: rgb(196,86,22);
    transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg) scale(5);
    border-radius: 10px;
}

.cursor.style2 {
  background-color: rgb(140, 0, 255, 0.4);
    border-color: rgb(140, 0, 255);
    transform: rotateY(720deg) scale(5);
}
.cursor.style3{
  background-color: rgb(0, 47, 255, 0.4);
    border-color: rgb(0, 47, 255);
    transform: scale(5) rotate(45deg);
    border-radius: 10px;
}
.cursor.style4 {
  background-color: rgb(101, 10, 37, 0.9);
  border-color: rgb(101, 10, 37);
  transform: rotatez(765deg) scale(2);
  border-radius: 10px;
}


/* 
background-color: rgb(140, 0, 255, 0.4);
border-color: rgb(140, 0, 255);
transform: rotateY(720deg) scale(2); 

background-color: rgb(0, 47, 255, 0.4);
border-color: rgb(0, 47, 255);
transform: scale(1.5) rotate(45deg);
border-radius: 10px;
*/



@media screen and (max-width:1112px){
  .menu-modal {
      cursor: pointer;
    }
    .menu-modal * {
      cursor: pointer;
    }
  .cursor,
  .cursorfollow{
    opacity: 0;
    z-index: -1;
  }



    }