 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;

  }

  li {
    list-style: none;
    line-height: 1.7;
  }

  a {
    text-decoration: none;

  }

  header {
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  header ul li.active a{
    color:rgb(153, 17, 17);
    font-weight: bold;
  }
  header ul li a {
    font-style: 14px;
    line-height:2;
  }

  header ul li:hover a {

    font-weight: 600;
  }

  main {
    /* 1920 전체*/
    /* 1700 화면구성*/
    /* 350 왼쪽 헤더*/
    /* 1350 메인 콘텐츠*/
    /* 220 여백 */
    /* 110 좌 우 하나씩 여백*/
    max-width:1350px; /* 80% */
    margin-left:calc(351px + 5.2%);
    margin-right:5.2%;
    padding: 20px;
    box-sizing: border-box;
  }

  h1 {
    padding:30px;
    font-size: 50px;
    background-color: #333;
    COLOR: WHITE;
    text-align: center;
  }

  h2 {
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .list li a:hover {
    font-weight: bold;
  }
  .list li{
    line-height: 1.8;
  }

  .title {
    font-weight: bold;
    padding-bottom: 10px;
    text-indent: -10px;
  }

  p {
    line-height:1.8;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:3.5px;
  }

  div.box{
    background-color: #fff;
     padding:20px;
    margin-bottom:20px;
    border-radius: 10px;
    border:1px solid #ccc;
  }

  main > details:nth-of-type(1) {
    background-color: rgba(250, 250, 250, 0.7);
    padding-top:20px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right:40px;
  }
  main > details{
    background-color: rgba(250, 250, 250, 0.7);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right:40px;
  }
  main > details:last-child{
    background-color: rgba(250, 250, 250, 0.7);
    padding-top:5px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
  }

  .sub {
    padding-left: 20px;
  }

  #menu1,
  .menu1 {
    display: none;
    font-weight: bold;
    margin-top:15px;
  }
  .close{
    cursor: pointer;
    display:none;
    font-weight: bold;
  }
  @media screen and (max-width:1701px){
    main{
      margin-left:351px;
      margin-right:0;
    }
  }
  @media screen and (max-width:993px) {
    header {
      width: 100%;
      height: 200px;
      top: -100%;
      left: auto;
      border-bottom: 1px solid black;
      
      z-index: 10;
      background-color: white;
      transition: 0.3s;
    }

    main {
      margin-left: 0;
      margin-right:0;

    }
    input:checked ~ header {
      top:0;
    }

    .menu1 {
      display:Block;
      cursor: pointer;
      padding:10px 20px;
    }
    .close{
      display:block;
    }
    
  }

  .link {
    text-decoration: underline;
    color: rgb(39, 39, 125);
    padding:10px;
  }
  .flex{
    display:flex;
  }
  b{
    line-height: 1.4;
    padding-bottom:5px;
    display:block;
  }
  figure{
    max-width:500px;
    text-align: center;
  }
  figure img{
    width:100%;
    padding:10px;
  }
/*  */
.container-wrap{
  padding-top:20px;
  gap:20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  .container{
    width:290px;
    height:150px;
    cursor: pointer;
    
     z-index: 10000;
  }
  .card-wrap{
    perspective: 1000;
     transform-style: preserve-3d;
     transition-duration: 0.7s;
     transition-timing-function:ease-out;
     transition-delay: 0.2s;

  }
  .front,
  .back{
    width:290px;height:150px;border:1px solid #ccc;
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding:20px;
  }
  .back{
     transform: rotateY(180deg);
  }
  .container .card-wrap:hover{
    transform: rotateY(180deg);
  }

@media screen and (max-width:993px){
 
}
@media screen and (max-width:768px){
  main {
      padding: 10px;
    }
  
    main * {
      font-size: 0.78rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
    p{
      padding-left:2px;
      padding-right:2px;
    }
    main>details:nth-of-type(1),
    main>details:last-child,
    main>details {
      padding-left: 2px;
      padding-right: 2px;
    }
  
    .title {
      text-indent: 5px;
    }
    td{
      padding:3px !important;
    }
}